.orbit-container {
    position: relative;
    width: 790px;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}

.uranus {
    position: absolute;
    width: 80px;
    height: 80px;
    /* width: 23px;
    height: 23px; */
    /* background-color: #16eac0;  */
    background-image: url("/assets/planets/uranus.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    /* box-shadow: 0 0 16px rgb(0, 0, 0); */
    pointer-events: none;
    left: 56%;
    transform: translateX(-50%);
}

/* .uranus::before, .uranus::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.uranus::before {
    width: 60px;
    height: 60px;
    background: rgba(22, 234, 192, 0.2); 
    filter: blur(30px); 
    top: -15px;
    left: -15px;

} */

/* .uranus::after {
    width: 100px;
    height: 100px;
    background: rgba(22, 234, 192, 0.2);
    filter: blur(40px);
    top: -25px;
    left: -25px;

} */

.uranus .dot {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.4); 
}

/* .uranus .dot1 { top: 9%; left: 10%; }
.uranus .dot2 { top: 19%; left: 20%; }
.uranus .dot3 { top: 8%; left: 39%; }
.uranus .dot4 { top: 22%; left: 59%; }
.uranus .dot5 { top: 45%; left: 20%; }
.uranus .dot6 { top: 55%; left: 40%; }
.uranus .dot7 { top: 70%; left: 65%; }
.uranus .dot8 { top: 90%; left: 35%; }
.uranus .dot9 { top: 40%; left: 75%; }
.uranus .dot10 { top: 25%; left: 90%; } */

/* Orbits */
.orbit {
    -webkit-transition: -webkit-transform 0.4s linear;
    transition: -webkit-transform 0.4s linear;
    -o-transition: transform 0.4s linear;
    transition: transform 0.4s linear;
    transition: transform 0.4s linear, -webkit-transform 0.4s linear;
}

.planet {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .orbit-container {
        /* transform: scale(0.8); */
    }
    .uranus {
        width: 41px;
        height: 41px;
    }
    
}